body {

margin:0;
font-family: 'Inter', sans-serif;

background-color:#0f1117;
color:#e6e6e6;

}

p {
line-height:1.6;
}

h1, h2, h3 {
letter-spacing:0.3px;
}

.header {

position:sticky;
top:0;

display:flex;
justify-content:space-between;
align-items:center;

padding:12px 40px;

background:#161b22;

border-bottom:1px solid #222;

z-index:1000;

}

.header-left {

display:flex;
align-items:center;
gap:15px;

}

.profile-pic {

width:50px;
height:50px;
border-radius:50%;

}

.profile-text h1 {

margin:0;
font-size:18px;

}

.title {

margin:2px 0;
font-size:14px;
color:#9da5b4;

}

.exp {

margin:0;
font-size:12px;
color:#6e7681;

}

.header-right a {

margin-left:20px;
text-decoration:none;
color:#c9d1d9;
font-size:14px;

}

.header-right a:hover {

color:#58a6ff;

}

.hero {

max-width:900px;
margin:120px auto;

text-align:center;

}

.hero h2 {

font-size:36px;
margin-bottom:20px;

}

.hero p {

font-size:18px;
color:#9da5b4;

}

.projects {

max-width:1000px;
margin:120px auto;

}

.projects h2 {

text-align:center;
margin-bottom:80px;
font-size:32px;

}

.project {

display:flex;
gap:40px;
align-items:flex-start;
padding-bottom:60px;
margin-bottom:60px;
border-bottom:1px solid red;
align-items: flex-start;
transition:transform 0.2s ease;
}

.project:last-child {
border-bottom:none;
}

.project:hover {

transform:translateY(-4px);

}

.project-media img {

width:420px;
aspect-ratio:16/9;
object-fit:cover;

border-radius:8px;

}

.project-info {

max-width:420px;
display:flex;
flex-direction:column;
align-items:flex-start;
}

.project-info p {
font-size:14px;
margin-bottom:10px;
line-height:1.4;

}

.project-info h3 {

font-size:22px;
margin-bottom:6px;

}

.project-info .info-block {

padding-top:10px;
margin-top:10px;

border-top:1px solid rgba(255,255,255,0.06);

}

.project-info .label {

font-size:11px;
letter-spacing:1px;
color:#6e7681;

margin-bottom:4px;

}

.meta {

font-size:13px;
color:#9da5b4;
margin-bottom:14px;

}

.project:nth-child(even) {

flex-direction:row-reverse;

}

.featured-project {

max-width:1100px;
margin:120px auto;

}

.section-label {

font-size:12px;
letter-spacing:2px;
color:#6e7681;
margin-bottom:20px;

}

.featured-container {

display:flex;
gap:60px;
align-items:center;

}

.featured-media img {

width:520px;
border-radius:10px;

}

.featured-info {

max-width:500px;

}

.featured-info h3 {

font-size:32px;
margin-bottom:10px;

}

.featured-info .meta {

color:#9da5b4;
margin-bottom:25px;

}

.featured-media img {

width:520px;
border-radius:10px;
transition:transform 0.3s ease;

}

.featured-media img:hover {

transform:scale(1.02);

}