<div class="header">
  <div class="header-left">
    <img src="https://ik.imagekit.io/brunovals/Placeholder-Profile-Picture-webp.webp" class="profile-pic">

    <div class="profile-text">
      <h1>Brunovals</h1>
      <p class="title">Senior Gameplay Programmer</p>
      <p class="exp">8+ Years Experience</p>
    </div>
  </div>

  <div class="header-right">
    <a href="/">Home</a>
    <a href="#">Itch</a>
    <a href="#">LinkedIn</a>
    <a href="mailto:nauvalinsight@gmail.com">Email</a>
  </div>
</div>
